<div class="header">
  <span style="float: left;"><%=image_tag("Logo.png")%></span>
  <h1>New Client</h1>
</div>

<%= render 'form' %>

<div style="margin: 20px;">
  <%= link_to 'Back', clients_path %>
</div>
<%= render 'footer' %>
