<div class="header">
  <span style="float: left;"><%=image_tag("Logo.png")%></span>
  <h1>Home</h1>
</div>
<br>
<div class='center'>
  <%= link_to 'View Clients', clients_path %> |
  <%= link_to 'View Salespeople', salespeople_path %> |
  <%= link_to 'View Products', products_path %>
</div>

<br>
<footer>
<p>&copy; PenPal, 2016</p>
</footer>
